
<body class="bck1">
<% @tytul_strony = "Logowanie" %>
<div class="content2">

  <!-- Trzy kolumny zdjęcia + opis + linki początek -->
  	<div class="row">
      <div class="col-sm-3"></div>
        <div class="col-sm-3">
  	     <a href="/szkolenias/index">
  	       <%= image_tag("rejestr2.jpg",:size => '200x200', :class => "img-circle") %>
  	       <p> </p>
    	     <%= image_tag("text_szkolenia.png") %>
  	 	     </a>
  	    </div>

  	    <div class="col-sm-3">
  	       <a href="/kurses/index">
  	         <%= image_tag("rejestr4.jpg",:size => '200x200', :class => "img-circle") %>
              <p> </p>

              <%= image_tag("text_rejestr_bold.png") %>
  	 	       </a>
  	    </div>

	</div>

	<br>
	<br>
  	
  	<div class="row">
  	<div class="col-md-1">   </div>
  	<div class="col-md-1">   </div>
  	<div class="col-md-1">   </div>
  	    <div class="col-md-1">
        <a>
          <%= image_tag("kalendarz.jpg",:size => '200x200', :class => "img-circle") %>
      </a>
  	    </div>
  	<div class="col-md-1">   </div>
  	<div class="col-md-1">   </div>

  	     <div class="col-sm-3">
        <a href="/uzytkowniks/index">
          <%= image_tag("pracownicy.jpg",:size => '200x200', :class => "img-circle") %>
        </a>
  	    </div>

	</div>
	<div class="row">
  		<div class="col-md-3"> </div>
  		<div class="col-md-3"> 	
  		<a>
          <p> </p>
          <%= image_tag("text_terminarz.png") %>
		</a>
		</div>

  		<div class="col-md-3">   
  		<a href="/uzytkowniks/index">
          <p> </p>
          <%= image_tag("text_uzytkownicy.png") %>
  		</a>
  		</div>
	</div>

  </div>

</body>

