 
<% @tytul_strony = "Logowanie" %>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
<br><br>
    <!-- Icon -->
    
    <div class="fadeIn first">
    <div class="row">
    	<div class="col-md-1"></div>
    	<div class="col-md-2">
    		<%= image_tag("text_log.png") %>
    	</div>
    </div>
<br>
	<%= form_tag(:action => 'logowanie') do %>
    <!-- Login Form -->
    <form>

    <div class="row">
    	<div class="col-md-2"></div>
    	<div class="col-md-2">
    		<%= image_tag("text_uzytkownik_small.png") %>
    	</div>
    	  <div class="col-md-1"></div>
    	  <div class="col-md-2">
			<%= text_field_tag :uzytkownik, nil, :class =>'fadeIn second' %>
		</div>
	</div>
	<div class="row">
    	<div class="col-md-2"></div>
    	<div class="col-md-2">
      		<%= image_tag("text_firma!_small.png") %>
      	</div>
      	<div class="col-md-1"></div>
      	<div class="col-md-2">
			<%= text_field_tag :firma, nil, :class =>'fadeIn third' %>
		</div>
	</div>
	<div class="row">
    	<div class="col-md-2"></div>
    	<div class="col-md-2">
			<%= image_tag("text_haslo_small") %>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-2">
			<%= password_field_tag :haslo, nil, :class =>'fadeIn fourth' %>
		</div>
	</div>
	<br>
	<div class="row">
    	<div class="col-md-3"></div>
    	<div class="col-md-4">
    	    <div class="fadeIn fourth">
			 <%= image_submit_tag "button_zaloguj.png", :class => "btn btn-default margin" %>
		</div>
		</div>
	</div>
	<br>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/public/przypomnienie">Zapomniałeś hasła?</a>
    </div>
	<% end %>
  </div>
</div>
