<% @tytul_strony = "Terminarz" %>
<body class="bck1">

<div class="hero-unit">
  <br>
        <%= image_tag("text_rejestr_big.png") %>

<div class="container">

<!-- Wyszukiwanie -->

<br><br>
<table class="table table-striped">
  <tr class="info">
    <th class="text-center"><%= image_tag("text_nr_szkolenia_small.png") %></th>
    <th class="text-center"><%= image_tag("text_data_szkolenia_small.png") %></th>
    <th class="text-center"><%= image_tag("text_prowadzacy_small.png") %></th>
    <th class="text-center"><%= image_tag("text_firma_small.png") %></th>
    <th class="text-center"><%= image_tag("text_rodzaj_small.png") %></th>

  </tr> 
<% @szkolenia.all.each do |szkolenia| %>
  <tr>
    <td class="text-center"><%= szkolenia.szkolenie_id %></td>
    <td class="text-center"><%= szkolenia.data_od.strftime("%d.%m.%Y") %></td>
    <td class="text-center"><%= szkolenia.prowadzacy %></td>
    <td style="width: 350px; overflow: hidden" class="text-center"><%= szkolenia.firma %></td>
    <td class="text-center"><%= Rodzaj.find(szkolenia.rodzaj_id).rodzaj %></td>

  </tr> 
<% end %>
</table>

</div>
</div>

</body>