<% @tytul_strony = "Szkolenia" %>

<div class="content2">

  <!-- Trzy kolumny zdjęcia + opis + linki początek -->
  	<div class="row">
  		<div class="col-sm-3"></div>
  	    <div class="col-sm-3">
  	      <%= image_tag("rejestr2.jpg",:size => '200x200', :class => "img-circle center-block") %>
  	      <p> </p>
		 <p class="text-center"> <%= link_to("Administracyjno-Biurowe", {:action => 'biurowe'}, :class => 'btn btn-md btn-default') %></p>
  	    </div>

  	    <div class="col-sm-3">
  	      <%= image_tag("szkolenia1.jpg",:size => '200x200', :class => "img-circle center-block") %>
  	      <p> </p>
		 <p class="text-center"> <%= link_to("Robotnicze", {:action => 'robotnicze'}, :class => 'btn btn-md btn-default') %></p>
  	    </div>
	</div>

	<br>
	<br>
  	
  	<div class="row">
  		<div class="col-sm-3"></div>
  	    <div class="col-sm-3">
  	      <%= image_tag("rejestr3.jpg",:size => '200x200', :class => "img-circle center-block") %>
  	      <p> </p>
		 <p class="text-center"> <%= link_to("Inżynieryjno-Techniczne", {:action => 'inzynieryjne'}, :class => 'btn btn-md btn-default') %></p>
  	    </div>

  	    <div class="col-sm-3">
  	      <%= image_tag("pracodawcow.jpg",:size => '200x200', :class => "img-circle center-block") %>
  	      <p> </p>
		 <p class="text-center"> <%= link_to("Pracodawców", {:action => 'pracodawcow'}, :class => 'btn btn-md btn-default') %></p>
  	    </div>
	</div>

  </div>




