<% @tytul_strony = "Szkolenia" %>
 
<div class="content2">

  <!-- Trzy kolumny zdjęcia + opis + linki początek -->
  	<div class="row">
  		<div class="col-sm-3"></div>
  	    <div class="col-sm-3">
    <div class="fadeIn first">
  	      <%= image_tag("rejestr2.jpg",:size => '200x200', :class => "img-circle center-block") %>
  	      <p> </p>
		 <p class="text-center"> <%= link_to(image_tag("button_administracyjne.png"), {:action => 'biurowe'}, :class => 'btn btn-md btn-default') %></p>
    </div>
  	    </div>

  	    <div class="col-sm-3">
      <div class="fadeIn second">
  	      <%= image_tag("szkolenia1.jpg",:size => '200x200', :class => "img-circle center-block") %>
  	      <p> </p>
		 <p class="text-center"> <%= link_to(image_tag("button_robotnicze.png"), {:action => 'robotnicze'}, :class => 'btn btn-md btn-default') %></p>
      </div>
  	    </div>
	</div>

	<br>
	<br>
  	
  	<div class="row">
  		<div class="col-sm-3"></div>
  	    <div class="col-sm-3">
          <div class="fadeIn third">
  	      <%= image_tag("rejestr3.jpg",:size => '200x200', :class => "img-circle center-block") %>
  	      <p> </p>
		 <p class="text-center"> <%= link_to(image_tag("button_inzynieryjne.png"), {:action => 'inzynieryjne'}, :class => 'btn btn-md btn-default') %></p>
            </div>
  	    </div>

  	    <div class="col-sm-3">
        <div class="fadeIn fourth">
  	      <%= image_tag("pracodawcow.jpg",:size => '200x200', :class => "img-circle center-block") %>
  	      <p> </p>
		 <p class="text-center"> <%= link_to(image_tag("button_pracodawcow.png"), {:action => 'pracodawcow'}, :class => 'btn btn-md btn-default') %></p>
        </div>
  	    </div>
	</div>

  </div>




