<% @tytul_strony = "Inżynieryjne" %>

<%= form_for(@szkolenie, :url=> {:action =>'utworz'}) do |pole| %>
<% @tytul ="Inżynieryjne" %>
<%= pole.hidden_field(:firma_id, :value => @current_user.firma_id) %>
<%= pole.hidden_field(:rodzaj_id, :value => 3) %>
<% @rodzaj = 3 %>

<%= render(:partial => "form", :locals => {:pole => pole}) %>

		<button type="button" class="btn btn-danger btn-circle" onclick="delScreenRow('dataTable')" ><i class="glyphicon glyphicon-minus"></i></button>

		<button type="button" class="btn btn-success btn-circle"  onclick="addScreenRow('dataTable')" ><i class="glyphicon glyphicon-plus"></i></button>
	</div>
	<div class="col-md-10"></div>
	<div class="col-md-1">
	<%= submit_tag("Zapisz", :class => 'btn btn-success') %>
	</div>
	<div class="col-md-1">
		<button type="button" class="btn btn-danger">Anuluj</button>
	</div>

  </div>

</div>
	<% end %>