<% @tytul_strony = "Szkolenia" %>

<div class="content2">

	<br> 
  <br>
  <br>
  <br>
	<br>
  	<div class="row">
  		<div class="col-sm-1"></div>
  	    <div class="col-sm-3">
  	    <div class="fadeIn first">
  	      <%= image_tag("szkolenia.jpeg",:size => '200x200', :class => "img-circle center-block") %>
  	      <p> </p>
		 <p class="text-center"> <%= link_to(image_tag("button_podst.png"), {:action => 'index'}, :class => 'btn btn-md btn-default') %></p>
		</div>
  	    </div>

  	    <div class="col-sm-3">
  	    <div class="fadeIn third">
  	      <%= image_tag("pierwsza2.jpg",:size => '200x200', :class => "img-circle center-block") %>
  	      <p> </p>
		 <p class="text-center"> <%= link_to(image_tag("button_pierwsza.png"), {:action => 'index_pomoc'}, :class => 'btn btn-md btn-default') %></p>
		</div>
  	    </div>

  	    <div class="col-sm-3">
  	    <div class="fadeIn second">
  	      <%= image_tag("pozar.jpg",:size => '200x200', :class => "img-circle center-block") %>
  	      <p> </p>
		 <p class="text-center"> <%= link_to(image_tag("button_ppoz.png"), {:action => 'pozar'}, :class => 'btn btn-md btn-default') %></p>
		</div>
  	    </div>
	</div>


  </div>




