<div class="hero-unit">
<h1>Nowy Uzytkownik</h1>

<% if @current_user.uprawnienia == 1 %>
	<%= form_for(:uzytkownik, :url => {:action => 'utworz'}) do |pole| %>
	<%= pole.hidden_field(:firma_id, :value => @current_user.firma_id) %>
	<%= render(:partial => "admin_form", :locals => {:pole => pole}) %>

	<div style="text-align: center;">
		<%= submit_tag("Utw贸rz", :class => 'btn btn-primary') %>
		<%= link_to("Powr贸t", {:action => 'index'}, :class => 'btn btn-warning')%>
	</div>

	<% end %>
<% else %>
	<%= form_for(:uzytkownik, :url => {:action => 'utworz'}) do |pole| %>
	<%= pole.hidden_field(:firma_id, :value => @current_user.firma_id) %> 
	<%= render(:partial => "form", :locals => {:pole => pole}) %>

	<div style="text-align: center;">
		<%= submit_tag("Utw贸rz", :class => 'btn btn-primary') %>
		<%= link_to("Powr贸t", {:action => 'index'}, :class => 'btn btn-warning')%>
	</div>

	<% end %>
<% end %>
</div>