 <div class="znak">
  <% if @rodzaj == 1 %>
  <%= image_tag("rejestr2.jpg",:size => '200x200', :class => "img-circle center-block") %>
<% elsif @rodzaj == 2 %>
  <%= image_tag("szkolenia1.jpg",:size => '200x200', :class => "img-circle center-block") %>
<% elsif @rodzaj == 3 %>
  <%= image_tag("rejestr3.jpg",:size => '200x200', :class => "img-circle center-block") %>
<% elsif @rodzaj == 4 %>
  <%= image_tag("pracodawcow.jpg",:size => '200x200', :class => "img-circle center-block") %>
<% elsif @rodzaj == 5 %>
  <%= image_tag("pierwsza1.jpg",:size => '200x200', :class => "img-circle center-block") %>
<% else %>
  <%= image_tag("pierwsza.png",:size => '200x200', :class => "img-circle center-block") %>
<% end %>
</div>

<div class="content2">
  <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-2">
          <h3 class="text-center"><%= @tytul %></h3>
        </div>
 
    </div>
    <div class="row">
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-2">
          <h5 class="text-center">Szkolenie nr:</h5>
        </div>
      <div class="col-xs-2">
      <%= pole.text_field(:szkolenie_id, :class => 'form-control', readonly: true ) %>
        </div>
   


        </div>

      </div>
      <br>
      
  <div class="row">
    <div class="form-group">
      <div class="col-md-2"></div>
        <div class="col-md-2">
            <h5 class="text-center">Prowadzący:</h5> 
        </div>
        <div class="col-md-2">
      <%= pole.text_field(:prowadzacy, :class => 'form-control') %>

      </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">
          <h5 class="text-right">Data od:</h5>
        </div>
        <div class="col-md-2">
          <div class="form-group">
                <div class='input-group date'>
                <%= pole.text_field :data_od, class: 'form-control datetimepicker', :id => 'datetimepicker1', :required => 'required' %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
          </div>

            <script type="text/javascript">
                $(function () {
                 $('#datetimepicker1').datetimepicker({
                    format: 'DD.MM.YYYY'});
                 });
          </script>
      </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-2"></div>
        <div class="col-md-2">
            <h5 class="text-center">Forma:</h5>  
        </div>
        <div class="col-md-2">

<% if @rodzaj == 1 %>
  <%= render(:partial => "b", :locals => {:pole => pole}) %>
<% elsif @rodzaj == 2 %>
  <%= render(:partial => "r", :locals => {:pole => pole}) %>
<% elsif @rodzaj == 3 %>
  <%= render(:partial => "i", :locals => {:pole => pole}) %>
<% elsif @rodzaj == 4 %>
  <%= render(:partial => "i", :locals => {:pole => pole}) %>
<% elsif @rodzaj == 5 %>
  <%= render(:partial => "pp", :locals => {:pole => pole}) %>
<% else %>
  <%= render(:partial => "ppd", :locals => {:pole => pole}) %>
<% end %>

          
      </div>
                <div class="col-md-2"></div>
        <div class="col-md-1">
          <h5 class="text-right">Data do:</h5>
        </div>
        <div class="col-md-2">
          <div class="form-group">
                <div class='input-group date'>
                   <%= pole.text_field :data_do, class: 'form-control datetimepicker', :id => 'datetimepicker2', :required => 'required' %>

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
          </div>

            <script type="text/javascript">
                $(function () {
                 $('#datetimepicker2').datetimepicker({
                    format: 'DD.MM.YYYY'});
                 });
          </script>
      </div>
  </div>
    <div class="row">
       <div class="col-md-2"></div>
            <div class="col-md-2">
          <h5 class="text-center">Data wystawienia:</h5>
        </div>
      <div class="col-md-2">
          <div class="form-group">
                <div class='input-group date'>
                <%= pole.text_field :data_wystawienia, class: 'form-control datetimepicker', :id => 'datetimepicker3', :required => 'required' %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>

            <script type="text/javascript">
                $(function () {
                 $('#datetimepicker3').datetimepicker({
                    format: 'DD.MM.YYYY'});
                 });
          </script>


      </div>
           <div class="col-md-1"></div>
            <div class="col-md-2">
          <h5 class="text-right">Ważność szkolenia:</h5>
        </div>
      <div class="col-md-2">

<% if @rodzaj == 1 %>
      <%= pole.text_field(:data_waznosci, :class => 'form-control', :value => (Date.today + 2190).strftime("%d.%m.%Y"), readonly: true, data: { date_format: 'DD.MM.YYYY' } ) %>
<% elsif @rodzaj == 2 %>

<%= pole.select :data_waznosci, options_for_select([(Date.today + 365).strftime("%d/%m/%Y"),(Date.today + 1095).strftime("%d/%m/%Y")], :class => "col-md-2"),:class => 'form-control' %>

<% else %>
      <%= pole.text_field(:data_waznosci, :class => 'form-control', :value => (Date.today + 1825).strftime("%d.%m.%Y"), readonly: true, data: { date_format: 'DD.MM.YYYY' } ) %>
<% end %>

</div>
    </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-2">
          <h5 class="text-center">Firma:</h5>
        </div>
      <div class="col-md-7">
      <%= pole.text_field(:firma, :class => 'form-control') %>
        </div>
      </div>
  </div>