<div class="hero-unit">
<h1>Edycja <%= %></h1>

<%= form_for(:osoba, :url => {:action => 'dodaj_osobe', :id => @szkol.id}, :method => :POST) do |pole| %>

<% if @szkol.rodzaj_id == 5 || @szkol.rodzaj_id == 6  || @szkol.rodzaj_id == 7 %>
	<%= render(:partial => "pierwsza_osoba_form", :locals => {:pole => pole}) %>
<% elsif @szkol.rodzaj_id == 8 %>
	<%= render(:partial => "wstepne_osoba_form", :locals => {:pole => pole}) %>
<% else %>
	<%= render(:partial => "osoba_form", :locals => {:pole => pole}) %>
<% end %>
<%= pole.hidden_field(:szkolenie_id, :value => @szkol.id) %>
<%= pole.hidden_field(:rodzaj_id, :value => @szkol.rodzaj_id) %>

    <%= pole.hidden_field(:rodzaj_id, :value => @szkol.rodzaj_id) %>
    <%= pole.hidden_field(:nr_zaswiadczenia, :value => @nr) %>


<div style="text-align: center;">
<br><br>

	<%= submit_tag("Dodaj osobę",:class => 'btn btn-primary') %>
	<%= link_to("Powrót", {:action => 'nowy', :id => @szkol.id},:class => 'btn btn-warning')%>
</div>

	<% end %>
</div> 