<div class="hero-unit">
<div class="content21">	
<br>
<%= image_tag("text_edycja.png", :style => "margin-left: 25px") %>

<%= form_for(@osoba, :url => {:action => 'aktualizuj_osobe', :id_osoba => @osoba.id, :id => @szkol.id}, :method => :POST) do |pole| %>

<% if @szkol.rodzaj_id == 5 || @szkol.rodzaj_id == 6 || @szkol.rodzaj_id == 7 %>
	<%= render(:partial => "pierwsza_osoba_form", :locals => {:pole => pole}) %>
<% elsif @szkol.rodzaj_id == 8 %>
	<%= render(:partial => "wstepne_osoba_form", :locals => {:pole => pole}) %>
<% else %>
	<%= render(:partial => "osoba_form", :locals => {:pole => pole}) %>
<% end %>
<div style="text-align: center;">
<br><br>

	<%= submit_tag("Aktualizuj",:class => 'btn btn-primary') %>
	<%= link_to("Powrót", {:action => 'nowy', :id => @szkol.id},:class => 'btn btn-warning')%>
</div> 

	<% end %>
</div>
</div>