<div class="hero-unit">
<div class="content21">
<div class="row">
<div class="col-sm-1"></div>	
<br>
<%= image_tag("text_usun.png", :style => "margin-left: 25px") %>

</div>
<br>
<%= form_for(@osoba, :url => {:action => 'kasuj_osobe',:id_osoba => @osoba.id, :id => @szkol.id}, :method => :POST) do |pole| %>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-md-3">
<p>Czy na pewno chcesz usunąć?</p>
</div>
</div>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-md-2">
<p><%="#{@osoba.osoba_imie} #{@osoba.osoba_nazwisko}"%></p>
</div>
</div>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-md-2">
	<%= submit_tag("Usuń",:class => 'btn btn-danger') %>
	<%= link_to("Powrót", {:action => 'nowy', :id => @szkol.id},:class => 'btn btn-primary')%>
</div>
</div>

	<% end %>
</div>
</div>